{% include 'header.html' %}
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Hey there! 👋 I’m Kartik — the person behind this blog.</p>

                        <p>I started Kartik's Blogs as a simple space to write about things I care about — tech, creativity, thoughts, ideas, and sometimes just random observations about life.</p>

                        <b>Who am I?</b>
                       <p>I'm someone who enjoys learning, building, and sharing. Whether it's coding a project, writing about data engineering, or exploring how the internet works, I like understanding the why behind things. I also enjoy sharing that knowledge in ways that are easy to read and (hopefully) fun.</p>
                  </div>
                </div>
            </div>
        </main>
          {% include 'footer.html' %}