{% include 'header.html' %}

        <!-- Page Header-->
        <header class="masthead" style="background-image:url('https://images.unsplash.com/photo-1470092306007-055b6797ca72?ixlib=rb-1.2.1&auto=format&fit=crop&w=668&q=80')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="site-heading">
                            <h1>Your Blogs</h1>
                            
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <div class="container px-4 px-lg-5">
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-7">
                    {% for blog in blogs%}
                    <!-- Post preview-->
                   <div class="container">
                            <div class="row">
                                <div class="col">
                                    {%if blog.image_url==""%}
                                       <a href="/{{blog['id']}}"><img src="../static/assets/img/no-img.jpg" height="80%" width="80%" alt="blog_images"></a>
                                    {%else%}
                                    <a href="/{{blog['id']}}"><img src="{{blog.image_url}}" height="80%" width="80%" alt="blog_images"></a>
                                    {%endif%}
                                </div>
                                <div class="col">
                                    <div class="post-preview" style="text-decoration: none;">
                                    <a href="/{{blog['id']}}" >

                                        <h2 class="post-title" >{{blogs.index(blog)+1}}.{{blog.title}}</h2>
                                         <p class="post-meta">
                                            Posted by
                                            {{blog.posted_by}}
                                            on {{blog.date}}
                                        </p>
                                    </a>
                                    </div>
                                </div>
                        </div>
                        
                        <button type="button" class="btn btn-info"><a href="/edit{{blog['id']}}" style="text-decoration: none;color: black;">Edit</a></button>
                        <button type="button" class="btn btn-danger col-lg-2 my-4" ><a href="/delete{{blog['id']}}" style="text-decoration: none;color: black;"> Delete</a></button>
                        <!-- <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2023
                        </p> -->
                  </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor%}
                    
                    <!-- Pager-->
                </div>
            </div>
        </div>
           {% include 'footer.html' %}
